fastapi
uvicorn[standard]
sqlalchemy
pymysql
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
pydantic
python-dotenv
alembic
pandas
sentence-transformers
chromadb
groq
google-generativeai
crewai
langgraph

